<!-- Parallax Section -->
<section class="site-section parallax-features-section parallax" id="parallax-features" data-scrollax-parent="true">

  <!-- Parallax Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <img src="{{ site.baseurl }}/images/blurred_bg4.png" alt="Parallax Features" />
  </div>

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.core-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.core-description }}</p>
      </div>

    </div>

    <!-- Section Features -->
    <div class="row section-features">

    <div class="col-xs-8 col-xs-offset-2">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    </div>

  </div>
</section>
