<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <img src="{{ site.baseurl }}/images/technoroasting-logo.png" width="140" alt="Sera - OnePage Logo by Gleesik" />
        </div>

        <div class="footer-info-text">
          <p>{{ site.footer-description }}</p>
        </div>


      </div>

      <div class="col-md-8 col-md-push-2 footer-copyright">
        <div class="footer-text text-center">
          <p>All Right Reserved</p>
        <p><a href="{{ site.footer-copyright-url }}">{{ site.footer-copyright-text }}</a> &copy; {{ site.footer-copyright-year }} Copyright</p>
        </div>
      </div>
    </div>

  </div>
</footer>
<div class="hidden" style="display: none;"><img src="{{ site.baseurl }}/images/brim_coffee_mockup2.jpg" /></div>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>
